body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('../img/background_project.png');
}
.wrapper{
    max-width: 1800px;
    min-width: 500px;
    margin:0px auto 0px auto;
}

h1{
    margin: 10px;
    font-size: 300%;
    text-align: center;
}
h2{
    margin: 10px;
    font-size: 200%;
    text-align: center;
}
p{
    text-align: center;
}
h4{
    text-align: center;
    margin-top: 20px;
}
#title_project{
    margin-right: 20%;
}

.box{
    margin-top:10px ;
    background-color: white;
    border: black solid 1px;
    border-radius: 20px;
    margin-left:25%;
    margin-right: 25%;
    width: 49%;
    margin-top:10px;
}
.left{
    float: left;
    margin-top:10px;
    margin-left: 2Px;
    margin-right: 10px;    
}
.right
{
    float: right;
    margin-right: 2px;
    margin-left: 10px;
    width: 49%;
}
.wat{
    clear: left;
}
.foto{
    margin-top: 120px;
}

 #logo{
    width: 400px;
    float: left;
 }

 
#img_slide{
    margin-top: 20px;
    margin-left: 25% ;
    width: 50%;
}

.menu{
    display: none;
    float: left;
    border: 1px black solid;
    background-color: #6C9B3C;
    padding:10px;
    position: absolute;
}
.menu li{
    margin: 10px;
    border:black 1px solid;
    padding: 5px;
}
.menu a{
    text-decoration: none;
    color:black;
}
.menu a:visited
{
    text-decoration: none;
    color: black;
}
.menu li:hover{
    background-color: white;
    color:#6C9B3C;
}







/*Footer style*/
footer{
    position: absolute;
    bottom: 0;
    margin-top: 20px;
    margin: 1%;
    padding: 1% ;
    border: 2px solid black;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    width: 100%;
}